# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Env
.env

# DB
*.db

# Runtime uploads
uploads/

# OS
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/

# IDE
.vscode/

# Logs
*.log
