.root {
  display: flex;
  background: var(--admin-bg);
  min-height: 100vh;
}

.main {
  width: 100%;
  transition: margin-left 0.25s ease;
}

.expanded {
  margin-left: 240px;
}

.collapsed {
  margin-left: 70px;
}